/****************TAG SELECTORS************/
body {
  margin: 0;
  color: #3E3939;
  text-align: center;
  font-family: 'League Spartan', sans-serif;
}

h1 {
  margin: 0;
  margin: 40px auto 0 auto;
  font-family: 'Zeyada', cursive;
  font-size: 4rem;
  line-height: 2;
  color: #15B7B9;
}

h2 {
  font-family: 'Teko', sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  color: #15B7B9;
}

h3 {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  color: #10DDC2;
}

a {
  color: #15B7B9;
  margin: 10px;
  text-decoration: none;
}

a:hover {
  color: #94EBCD;
}

hr {
  border-style: dotted none none none;
  border-width: 5px;
  border-color: #ADC2A9;
  width: 5%;

}

/**************CLASS SELECTORS**********/
.top-container {
  background-color: #EFFFFD;
  position: relative;
  padding-top: 100px;
}


.bottom-container {
  background-color: #EFFFFD;
  line-height: 2;
  padding-top: 30px;
  padding-bottom: 30px;
}


/*it seems that the top and bottom clouds are interchanged?*/

.top-cloud {
  position: absolute;
  left: 250px;
  bottom: 250px;
}

.bottom-cloud {
  position: absolute;
  right: 250px;
  top: 50px;
}

.profile {
  width: 40%;
  margin: 60px auto 60px auto;
  line-height: 2;
}

.skills {
  margin-top: 60px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skills-title {
  text-align: left;
}

.skills-description {
  text-align: left;
}

.chem-img {
  width: 25%;
  float: left;
}

.cookie-img {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.contact-me {
  line-height: 2;
  padding-bottom: 20px;
  margin: 60px auto;
  width: 40%;
}

.copyright-end {
  color: #ADC2A9;
  margin: auto;
  padding: 10px 0 0;
  font-size: 0.80rem;

}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: 'Pragati Narrow', sans-serif;
  color: white;
  font-size: 17px;
  background: #15B7B9;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #057685;
  text-decoration: none;
}
